.banner_container,
.image_container {
  position: relative;
}
.text_container {
  position: absolute;
  content: '';
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
 
}
.text_container h1 {
  font-size: 52px;
  word-wrap: normal;
  color: #363636;
}
.text_container p {
  font-size: 18px;
  color: #363636;
  margin-bottom: 40px;
}
.text_container .ex_button {
  color: #ff6347;
  padding: 15px 18px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  text-transform: uppercase;
  text-decoration: none;
  
}

.ex_button:hover{
    color: #fff;
    background-color: #ff6347;
}


/* Responsive Code Start Here  */

@media only screen and (max-width: 596px) {
  .text_container { text-align: center;}
  .text_container h1{ display: none;}
  .text_container .ex_button{ padding: 20px ; font-size: 16px; margin-bottom: 20px;}
}

@media only screen and (max-width: 600px) {
  .banner_container{ position: relative;}
  .banner_container img{ background-position: center; background-size: cover; object-fit: contain;}
  .text_container { text-align: center;}
  .text_container h1{ font-size: 35px; margin-bottom: 10px; margin-top: 28px;}
  .text_container p{display: none;}
  .text_container .ex_button{ padding: 10px ; font-size: 14px; margin-bottom: 20px;}
}

@media only screen and (max-width: 768px) {
  .banner_container{ position: relative;}
  .banner_container img{ background-position: center; background-size: cover; object-fit: contain;}
  .text_container { text-align: center;}
  .text_container h1{ font-size: 35px; margin-bottom: 30px;}
  .text_container p{display: none;}
  .text_container .ex_button{ padding: 10px ; font-size: 14px; }
}

@media only screen and (max-width: 992px) {
  .banner_container{ position: relative;}
  .banner_container img{ background-position: center; background-size: cover; object-fit: contain;}
  .text_container { text-align: center;}
  .text_container h1{ font-size: 35px; margin-top: -70px;}
  .text_container p{font-size: 16px; width: 380px; margin-bottom: 20px;}
  .text_container .ex_button{ padding: 10px ; font-size: 14px; margin-bottom: 20px;}
}
